{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}Sign up{% endblock %}</h1>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <form id="register-form" action="{{ url_for('register')}}" method="post" role="form">
            <div class="form-group required">
                <label for="name" class="control-label">Name</label>
                <input type="text" name="name" id="name" tabindex="1" class="form-control" placeholder="Name or alias" required="true">
            </div>
            <div class="form-group  required">
                <label for="email" class="control-label">Email</label>
                <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" required="true">
            </div>
            <div class="form-group  required">
                <label for="password" class="control-label">Password</label>
                <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" required="true">
            </div>
            <div class="form-group  required">
                <label for="confirm-password" class="control-label">Confirm password</label>
                <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" required="true">
            </div>
            <div class="form-group padding-bottom text-right">
                    <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>        
    <div class="col-sm-4"></div>
</div>

{% endblock %}